<h1>Product Overview</h1>
<p>This is a custom header just for products!</p>

<ul>
    <% products.forEach(product => { %>
    <li>
        <strong><%= product.product_name %></strong>
        - CHF <%= product.price %>
    </li>
   <% }) %>
</ul>


<%- include('./table', { header: header, data: products, idField, basePath  }) %>

